<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21253892510-j9kmpulvsap335oppqh058s1jfmp60no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21253892510-j9kmpulvsap335oppqh058s1jfmp60no</string>
	<key>API_KEY</key>
	<string>AIzaSyCLzAhVrZbTbeuOtDloJKuDAmq8rXdhJ2o</string>
	<key>GCM_SENDER_ID</key>
	<string>21253892510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bidbong-mobile</string>
	<key>PROJECT_ID</key>
	<string>auction-bid-57c02</string>
	<key>STORAGE_BUCKET</key>
	<string>auction-bid-57c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21253892510:ios:c294aac35bce84ebff4e8f</string>
	<key>DATABASE_URL</key>
	<string>https://auction-bid-57c02.firebaseio.com</string>
</dict>
</plist>